<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.system.management.dao.CommentMapper" >
    <resultMap id="commentList" type="com.system.management.model.Comment" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="text" property="text" jdbcType="VARCHAR" />
        <result column="comment_time" property="comment_time" jdbcType="DATE" />
    </resultMap>

    <select id="getComment" resultMap="commentList">
      SELECT * FROM comment order by id DESC /*limit 10*/
    </select>

    <insert id="saveComment">
      INSERT INTO comment (username,text,comment_time)
      VALUES (#{username},#{text},#{comment_time})
    </insert>
</mapper>